*{
margin: 0;
}
.ard {
z-index: -1;
paddinf: 20px;
}
.produk_pulsa{
padding: 10px; 
padding-left: 15px;
padding-top: 5px;
border-radius: 10px;
margin: 0px; 
margin-top: 15px;
box-shadow: 0px 2px 8px -3px rgba(0,0,0,0.3);
margin-bottom: 5px;
background: #fff;
font-family: 'Montserrat Alternates', sans-serif;
 
}
.produk_pulsa h2{
  margin-top: 7px;
  font-size: 13px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
}

.produk_pulsa p{
  font-size: 12px;
  margin-top: 5px;
  color: #bdbbbf;
  font-weight: bold;
  font-family: 'Montserrat Alternates', sans-serif;
}

.produk_pulsa button{
  font-size: 15px;
  float: right;
  margin-top: -27px;
  padding-right: 10px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  border-radius: 6px;
  background-color: #fff;
  color: #008577;
}

.kotak3 {
background: #fff;
z-index: 3;
padding: 35px;
padding-left: 10px;
padding-right: 10px;
box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.2);
margin: 20px;
margin-top: 0px;
margin-bottom: 10px;
margin-left: 40px;
margin-right: 40px;
border-radius: 50px;
}

.kotak {
margin-top: -80px;padding: 10px; border-radius: 15px;margin: 20px; box-shadow: 0px 3px 12px -7px rgba(0,0,0,0.5);margin-bottom: 5px;background: #fff;font-family: 'Montserrat Alternates', sans-serif;
}

.judul3 {
position: absolute;
font-family: 'Fredoka One', cursive;
font-weight: 400;
color: #5b5a5c;
font-size: 18px;
margin-top: -20px;
margin-left: 20px;
}

.desc3 {
position: absolute;
font-family: 'Fredoka One', cursive;
color: #bbb;
font-size: 12px;
margin-top: 5px;
margin-left: 20px;
}

.gambar3 {
width: 50px;
height: 50px;
position: absolute;
border-radius: 100px;
box-shadow: 0px 0px 7px 0.5px rgba(0,0,0,0.2);
margin-top: -28px;
right: 50px;
background: #fff;
padding: 3px;
}

.tombol3 {
width: 30px;
background: #fff;
color: #008577;
height: auto;
position: absolute;
border-radius: 100px;
box-shadow: 2px 1px 5px 0.5px rgba(0,0,0,0.3);
margin-top: -17px;
right: 25px;
text-align: center;
padding: 5px;
font-weight: bold;
}

.atas {
 background: #008577 ;
 position:absolute;
 width: 100%;
 height: 60px;
 z-index:-1;
 border-bottom-right-radius: 30px; border-bottom-left-radius: 30px;
 box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.2);
}

.input_konten input{
  width: 95%;
  border: none;
  border-bottom: 2px solid #bbb;
  font-size: 18px;
  margin-left: 2.5%;
  padding-bottom: 10px;
  margin-bottom: 0px;
  outline: none;
  font-weight: bold;
  opacity: 1;
}

.cek {
float: right;
margin-top: -3px;
border: none;
color: #fff;
font-weight: bold;
border-radius: 30px;
background: #008577;
margin-right: 10px;
padding-bottom: 5px;
padding-top: 5px;
padding-left: 10px;
padding-right: 10px;
font-size: 13px;
font-family: 'Montserrat Alternates', sans-serif;
}

::placeholder {
  color: #d2ccde;
}


.collapsible {
  background-color: #008577;
  color: white;
  float: right;
  cursor: none;
  margin-top: -3px;
  border: none;
  text-align: left;
  outline: none;
  border-radius: 100px;
  font-size: 15px;
  width: 20px;
  padding: 5px;
  text-align: center;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fff;
  margin-top: 10px;
}

.active, .collapsible:hover {
  background-color: #008577;
}

.collapsible:after {
  content: '\003f';
  color: white;
}

.tab {
  overflow: hidden;
  border: none;
  background-color: #fff;
  
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
   width: 48%;
   font-weight: bold;
   background: #ece9f2;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  color: #5b5a5c;
  font-size: 15px;
  border-radius: 10px;
  margin: 1%;
    padding: 7px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.tab button.active {
  background-color: #008577;
  color: #fff;
  border-radius: 10px;
}

.tabcontent {
  display: none;
  border-top: none;
  
}
